@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
}

body {
    min-height: 100vh;
    color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 207, 221);;
    font-family: "Inter", sans-serif;
}

.wrapper {
    background-color: #2e2e2e;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 30px 7px;
    display: flex;
    z-index: 0;
}

@media (min-width:768px) {
    .wrapper {
        height: 50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #2e2e2e;
    }
    
}

.start{
    align-items: center;
    justify-content: center;
    padding: 4%;
    margin-top: 52%;
    margin-left: 32%;
    z-index: -1;
}
.back h1{
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    z-index: -1;
}

.back p{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: -1;
}
.nex{
    justify-content: center;
    margin-left: 30%;
    font-size: 1.4rem;
    width: 40%;
    color: rgb(0, 0, 0);
    margin-left: 33%;
    border-radius: 65%;
    background-color: #18cffd;
    display: block;
    z-index: -1;
}
.nex:hover{
    cursor: pointer;
    z-index: -1;
}

.wrapper .screen {
    flex: 1;
    min-width: 100%;
}

.wrapper.show-category .home-screen {
    transform: translateX(-100%);
}

.wrapper.show-category .category-screen{
    transform: translateX(-100%);
}

.wrapper.show-category .screen-backdrop {
    transform: translate(-50%, -60%);
}         
/*  */
.screen-backdrop {
    width: 135%;
    height: 25rem;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.head-wrapper{
    padding: 0 20px;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    color: #f50000;
}

.welcome{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.welcome h1{
    font-size: 1.5rem;
}

.welcome p{
    font-weight: 500;
}
.welcome .img{
    position: relative;
}

.welcome .img img{
    width: 5rem;
}

.welcome .img .backdrop{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3.8rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fdfbe5;
    z-index: -1;
}

.categories-wrapper{
    margin-top: 1rem;
    height: calc(100% - 8rem);
    padding: 0 30px;
    padding-bottom: 20px;
    overflow: auto;
}

.catogories {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.catogories .category {
    background-color: #23b5ea;
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px #ff000023;
    transition: all 0.3s;
}

.catogories .category:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 5px #ba000040;
}

.category .left{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.category .left img{
    width: 3rem;
}
.category .content h1{
    font-size: 1.5rem;
}
.category .content p{
    color: #2e2e2e;
    font-size: 0.8rem;
    opacity: 0.6;        
}

.category .options{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.category:hover .options {
    opacity: 1;
    visibility: visible;
}

.category #toggle-btn{
    font-size: 1.5rem;
    padding-top: 5px;
    width: 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.category-screen .head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-screen .head-wrapper #back-btn{
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    color: #f50000;
}

.head-wrapper #options{
    color: #f50000;
    font-size: 1.5rem;
    padding-top: 5px;
    width: 1.5rem;
    cursor: pointer;
}

.category-details {
    color: aliceblue;
    padding: 0 30px;
    margin-top:  7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.category-details img{
    width: 4rem;
}
.category-details .details p{
    color: aliceblue;
    opacity: 0.6;
}

/* tasks */
.tasks-wrapper{
    color: aliceblue;
    padding: 0 30px;
    margin-top: 1rem;
    height: calc(100% - 12rem);
    padding-bottom: 20px;
    overflow: auto;
}

.no-task{
    color: aliceblue;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.6;
}

.tasks {
    color: aliceblue;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    color: aliceblue;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    width: max-content;
    cursor: pointer;
}

.task input {
    display: none;
}

.task .checkmark{

    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: 1px solid #fffefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task #checkmark {
    width: 1rem;
    color: #fefefe;
    opacity: 0;
    transition: all 0.3s;
}

.task:hover #checkmark {
    opacity: 1;
}
.task input:checked~.checkmark {
    background-color: #2e2e2e;
}

.task input:checked~.checkmark #checkmark{
    opacity: 1;
    color: #fff;
}

.task input:checked~p{
    text-decoration: line-through;
    opacity: 0.6;
} 

.task-wrapper .delete{
    min-width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: #3e35e6;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.31);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.task-wrapper:hover .delete {
    visibility: visible;
    opacity: 1;
}

.task-wrapper .delete:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
}

.add-task-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 215, 74);
    border-color: #3e35e6;
    transition: all 0.3s;
}

.add-task-btn.active {
    z-index: 1;
    bottom: 20rem;
    transform: rotate(45deg);
}

.add-task-btn:hover {
    transform: scale(1.1);
}

.add-task-btn #add {
    font-size: 1.9rem;
    justify-content: center;
    width: 2rem;
    color: #2e2e2e;
}

.add-task{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    transition: all 0.3s;
}

.add-task.active{
    bottom: 0;
}

.add-task .heading {
    font-size: 1.5rem;
    margin-bottom: 1rem
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input, 
.input-group label {
    display: block;
    width: 100%;
}

.input-group input, 
.input-group select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.input-group label {
    width: max-content;
    padding:  0 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.btns {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.btns button {
    z-index: 2;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btns button.cancel-btn{
    background-color: #f50000;
    opacity: 1;
}
.btns button.add-btn {
    background-color: rgb(27, 215, 74);;
    color: #2e2e2e;
}

.add-task-backdrop {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 20rem;
    border-radius: 50% 50% 0 0;
    background-color: #fff;
}

.black-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #00000023;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.black-backdrop.active{
    opacity: 1;
    visibility: visible;
}
.front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 90);
    border-radius: 36px;
    height: 48.7rem;
    width: 23.8rem;
    z-index: 6;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.front.fade-out {
    opacity: 0;
}
.start{
    border: #2e2e2e;
    margin-top: 52%;
    margin-left: 30%;
}
.front h1 {
    justify-content: center;
    padding-left: 22.4%;
    margin-left: 5%;
    font-weight: bold;
    color: #666;
}
.front h1:hover{
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}
.front p {
    font-size: 1.5rem;
    justify-content: center;
    padding-left: 36%;
    margin-top: 4%;
    font-weight: bold;
}
.nex {
    margin: 5%;
    margin-left: 30%;
}
.nex:hover{
    transform: scale(1.5rem);
    transition: all 0.5s;
    background-color: green;
    color: white;
}

.front-backdrop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 20rem;
}